@import "../../styles/variables";
.dropdown {
  position: relative;
  font-size: 1.4rem;
  padding: 1rem 2rem;


  width: 20rem;

  .label {
    padding: 1rem 2rem;
    border: 2px solid $color--primary;
  }
  .icon {
    width: 2rem;
    height: 2rem;
  }

  .item {
    width: 100%;
    padding: 2rem 6rem;
    border-bottom: 1px solid $color-grey--light;
    cursor: pointer;
    &:hover {
      background-color: $color-grey--light;
    }
  }

  .options {
    position: absolute;
  }
}