@import "variables";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: $color-text-brand;
  overflow-x: hidden;
}


.content {
  margin-top: -4rem;
  border-radius: 2rem;
  box-shadow: 0 -25px 36px rgba(0, 0, 0, 0.0);
  min-height: 80rem;
  background-color: #ffffff;
  padding: 1rem 4rem;
}

.container {
  max-width: 128rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}


.grid {
  display: grid;
  column-gap: 6.4rem;
  gap: 9.6rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid--5-cols {
  grid-template-columns: repeat(5, 1fr);
}

.grid--center-v {
  align-items: center;
}

.flex {
  display: flex;
}

.flex-v {
  display: flex;
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.justify-content {
  justify-content: center;
}

.gap-8 {
  gap: 0.8rem;
}

.gap-18 {
  gap: 1.8rem;
}

.gap-24 {
  gap: 2.4rem;
}

.cursor-pointer {
  cursor: pointer;
}

.absolute {
  position: absolute;
}

.inset-0 {
  inset: 0;
}

.inset-40 {
  inset: 10rem;
}

.bg-grey {
  background-color: rgba(197, 219, 236, 0.3);
}

.bg-white {
  background-color: #fff;
}



h2 {
  font-size: 3.6rem;
  margin-bottom: 2.4rem;
  margin-top: 4.8rem;
}

section {
  p {
    font-size: 1.6rem;
    line-height: 3rem;
    margin-bottom: 15px;
  }
}

.content {
  .cards {
    .card {

      border: 1px solid $color-grey--light;
      border-radius: 2rem;
      cursor: pointer;

      padding: 1.8rem;
      text-align: center;

      flex-direction: column;
      display: flex;
      align-items: center;
      justify-content: center;

      .card-content {
        p {
          line-height: 1.5rem;
        }
      }

      &:hover {
        box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.05);
      }

      h4 {
        font-size: 1.8rem;
        line-height: 2rem;
      }

      p {
        font-size: 1.2rem;
        margin-top: 1rem;
      }

      svg {
        color: #818df8;
        width: 10rem;
      }
    }
  }
}