$text-base-color: #111827;

$primary-color: #111827;
$light-grey-color: #c5dbec;
$darker-grey-color: #bbb;

$primary-color--dark: #0f162f;

$heading-nav-color: #818df8;

$darker-grey-secondary-color: #29303d;