@import "../../styles/variables";


.outlet {
  transition: all 0.5s;
  margin-left: 6rem;

  &.open {
    margin-left: 28rem;
  }
}

.sidebar {
  background-color: $primary-color;
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.25);

  height: 100vh;
  overflow: hidden;
  position: fixed;
  transition: all 0.5s;

  padding: 1.4rem 2rem;
  width: 28rem;

  margin-left: -22rem;

  .creator-info {
    position: absolute;
    bottom: 2rem;

    .social-icons {
      display: flex;
      gap: 1rem;

    }
  }

  .sidebar-layout {
    display: flex;
    flex-direction: column;
    gap: 4.8rem;
    height: 100vh;
    padding-bottom: 26rem;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-content: center;

    .logo {
      width: 85%;
      margin-left: -2rem;
    }
  }

  &.open {
    padding: 1.4rem 3.6rem;
    margin-left: 0;
  }

  .btn-collapse {
    background: none;
    color: inherit;
    border: none;
    cursor: pointer;
    outline: inherit;

    :hover {
      background-color: $primary-color--dark;
      transition: all .5s;

      svg {
        color: #ccc;
      }
    }

    svg {
      color: $light-grey-color;
      width: 2.2rem;
      height: 2.2rem;
    }
  }

  .navigation-page-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: $darker-grey-color;
    list-style: none;

    margin-top: 20px;
    margin-bottom: 48px;

    li {
      a {
        display: flex;
        align-items: center;
        gap: 1.8rem;
        padding: 1rem;
        border-radius: 1rem;

        &:hover,
        &:active,
        &.active {
          background-color: $darker-grey-secondary-color;
        }

        svg {
          height: 20px;
          width: 20px;
        }
      }
    }
  }

  .navigation-page-list li a,
  .navigation-page-list li a:active,
  .navigation-page-list li a:link {
    text-decoration: none;
    color: $darker-grey-color;
    font-size: 1.4rem;
  }


  .nav-info-box {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;

    h3 {
      color: $heading-nav-color;
      font-size: 1.6rem;
      font-weight: 500;
      letter-spacing: 0.2px;
      text-transform: uppercase;
    }

    span {
      color: $darker-grey-color;
      font-size: 1.2rem;
      font-weight: 500;
      letter-spacing: 0.2px;
    }
  }
}


