@import "../../styles/variables";
.footer {
  margin-top: 4.8rem;

  .footer-container {
    padding: 4.8rem;
    border-top: 1px solid $color-grey--light;

    span {
      font-weight: 700;
    }
  }
}